*{margin: 0px; padding: 0px; box-sizing: border-box;}
body{
    font-family: 'Lato', sans-serif;
}
.titulos{
    font-family: 'Agdasima', sans-serif;
}
.logo{
    max-height: 30px;
}
.flotante{
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
    position: fixed;
    top: 25%;
}
.flotante a{
    text-decoration: none;
}
.flotante i{
    color: rgba(187, 0, 0, 0.664);
    display: flex;
    font-size: 30px;
    padding: 0px 10px 5px 10px;
}
.flotante i:hover{
    color: rgba(187, 0, 0, 0.918);
}
.prueba{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.galeria{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(33%, 1fr)); */
    grid-template-rows: 50% 50%;
    object-fit: cover;
}
.img-galeria{
    height: 100%;
    object-fit: cover;
}
.galeria-2{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(33%, 1fr)); */
    grid-template-rows: 50% 50%;
    gap: 10px;
}
main i{
    font-size: 50px;
    padding-bottom: 15px;
    color: rgb(207, 5, 5);
}
.corazon:hover{
    color: rgb(207, 5, 5);
} 
footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.links-footer{
    display: flex;
    justify-content: center;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover, footer i:hover{
    color: rgb(141, 141, 141);
}
footer i{
    font-size: 30px;
    color: white;
    padding: 15px;
}
.color li{
    width: 30px;
    display: inline-block;
    height: 30px;
    border-radius: 30%;
}
.negro{
    background-color: rgb(0, 0, 0);
}
.azul{
    background-color: blue;
}
.rojo{
    background-color: rgb(255, 0, 0);
}
.logo-red{
    max-width: 100px;
}
.thumb {
    position: relative;
}
.thumb .icon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.thumb:hover .icon {
    opacity: 1;
    visibility: visible;
}
.thumb .icon button {
    position: absolute;
    bottom: 40%;
    right: 30%;
}
.thumb img {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 0px) and (max-width: 671px) {
    .links-footer{
        display: block;
    }
}