*{margin: 0%; padding: 0%; box-sizing: border-box;}
.contenedor, .contenedor-b{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.menu-float{
    width: 20%;
}
.cuerpo-float{
    width: 80%;
}
.contenedor-2, .contenedor-3, .contenedor-4, .contenedor-5, .contenedor-6{
    display: flex;
}
.menu ul{
    list-style: none;
    padding: 20px;
}
.menu li{
    margin-top: 15px;
    color: #34ac98;
    font-size: 18px;
}
aside h5{
    padding-top: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
    margin-right: 10px;
}
aside p{
    padding-top: 10px;
    margin-right: 10px;
    color: gray;
}
aside button{
    padding: 8px;
    margin-top: 10px;
    background-color: white;
    color: #34ac98;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.contenedor-2{
    background-color: #dbe8e7;
    color: #34ac98;
}
.contenedor-2 h3{
    padding-bottom: 3px;
}
.contenedor-2 div{
    padding: 20px;
    border: 1px solid #34ac98;
    width: 25%;
}
div hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
}
.contenedor-3{
    align-items: center;
}
.izq{
    padding: 5px;
    color: grey;
    width: 70%;
}
.der{
    padding: 5px;
    width: 30%;
    justify-content: right;
}
form input, form button{
    padding: 3px;
}
.contenedor-4{
    width: 100%;
}
.card{
    width: 100%;
    margin: 5px;
}
.card img{
    padding: 5px;
    border: 1px solid gainsboro;
}
.contenedor-4 h3{
    color: #34ac98;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contenedor-4 p{
    padding-bottom: 15px;
}
.hr2{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid gainsboro;
}
.contenedor-5, .contenedor-6{
    justify-content: space-between;
    padding-bottom: 30px;
}
footer{
    width: 100%;
}
.contenedor-6 p{
    padding-left: 20px;
}
.colorRead{
    color: #34ac98;
}